<div class="events">
  <div>
  <div class="addToCalendar">
    <div class="nonForm">
      <%= button_to "Add a Book Release", new_event_path, method: :get %>
    </div>
  </div>
  <div class="calendarSwitcher">
    <%= link_to events_path(view: "calendar"), class: [assign_current( "events"), assign_current("calendar")] do %>
      <div class="fakeButton">Calendar View</div>
      <% end %>
    <%= link_to events_path(view: "agenda"), class: assign_current("agenda") do %>
      <div class="fakeButton">Agenda View</div>
    <%end %>
  </div>
</div>

  <%= render @partial %>

  <div class="addToCalendar">
    <div class="nonForm">
      <%= button_to "Add a Book Release", new_event_path, method: :get %>
    </div>
  </div>
</div>
