<div class="eventShow">
  <h3><%= @event.event %></h3>

  Release Date: <%= @event.release_date.strftime("%B %e %Y") %><br>
  <div class="note">
    <p>Note:
      <% @event.notes.each do |n| %>
        <%= n.info %>
      <% end %>
    </p>
  </div>
  <%= link_to icon('pencil', 'Edit'), edit_event_path(@event) %>
  <br>
</div>
<div class="backEvent">
  <%= link_to icon('arrow-left', 'Back'), events_path %>
</div>
