<div class="form">
<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field half">
    <%= f.label :isbn, 'ISBN' %><br>
    <%= f.text_field :isbn, placeholder: 'Please enter ISBN with no dashes' %>
  </div>
  <div class="field half">
    <%= f.label :authors %><br>
    <%= f.text_field :authors, placeholder: 'First, then Last Name' %>
  </div>
  <div class="field whole">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field whole">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field whole">
    <%= f.label :published_date, 'Publication Date' %><br>
    <%= f.date_field :published_date %>
  </div>
  <div class="field half">
    <%= f.label :genre_id %><br>
    <%= f.collection_select(:genre_id, Genre.order('genre ASC'), :id, :genre, {:include_blank => 'Select a Genre'}) %>
  </div>
  <div class="field half">
    <%= f.label :format_id %><br>
    <%= f.collection_select(:format_id, Format.all, :id, :format, {:include_blank => 'Select a Format'}) %>
  </div>
  <div class="field whole">
    <%= f.label :image_link, 'Image URL' %><br>
    <%= f.text_field :image_link, placeholder: 'http://yourimagelink.com/image.jpg' %>
  </div>
  <div class="field half">
    <%= f.label :series, 'Is this book part of a series?  ' %>
    <%= f.check_box :series %>
  </div>
  <div class="field half">
    <%= f.label :series_num, 'Number in Series' %><br>
    <%= f.number_field :series_number, step: 0.1 %>
  </div>
  <div class="actions">
    <%= f.submit 'Save Book' %>
    <% if !current_page?(new_book_path) %>
      <%= link_to @book, method: :delete, data: {confirm: 'Are you sure?'} do %>
        <div class="fakeButton">Cancel</div>
      <% end %>
    <% end %>
  </div>
<% end %>
<!-- <% @skip_footer = true %> -->
</div>
