<p id="notice"><%= notice %></p>

<h1>Your Library</h1>

<div class="bookshelf">
  <% @books.each do |book| %>
  <div class="book">
    <% if book.user_books.first.has_read %>
    <div class="ribbon"><span>READ</span></div>
    <% end %>
    <div class="bookImage"><%= link_to image_tag(book.image_url), book %></div>
    <div class="bookInfo">
      <ul>
        <li><%= book.author %></li>
        <li><%= book.title %></li>
      </ul>
      <div class="bookNavIcon">
        <%= link_to icon('info-circle'), book %> &nbsp;&nbsp; <%= link_to icon('pencil'), edit_book_path(book) %> &nbsp;&nbsp;

        <%= link_to icon('book'), has_read_user_book_path(book.user_books.first.id), method: :patch %>


        </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to new_book_path do %>
  <div class="fakeButton"> Add a New Book</div>
<% end %>
