<% if params[:search].present? %>
  <h3>Your Search Results</h3>
<% end %>
<div class="bookshelf">
  <div class="book firstBook">
    <p>Find a book to add to your library.</p>

    <div class="form addSearchForm">
      <%= form_tag(search_books_path, method: "get", action: "search") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search By ISBN or Author/Title" %>
      <%= submit_tag "Search for Book to Add", name: nil %>
      <% end %>
    </div>
  </div>
  <% @books.each do |book| %>
  <div class="book">
    <% if book.library_book(current_user, book).first.has_read %>
    <div class="ribbon"><span>READ</span></div>
    <% end %>
    <div class="bookImage"><%= link_to image_tag(book.image_link), book %></div>
    <div class="bookInfo">
      <ul>
        <li class="bookOverflow"><%= link_to book.title, book %></li>
        <li class="bookOverflow">by <%= book.authors %></li>
        <% unless book.format.blank? %>
        <li>(<%= book.format.format %>)</li>
        <% end %>
      </ul>

      <div class="bookNavIcon">
        <!-- <%= link_to icon('info-circle'), book, title: "More Info" %> &nbsp;&nbsp; -->
        <%= link_to icon('pencil'), new_note_user_book_path(book.library_book(current_user, book).first.id), title: "Add Note" %> &nbsp;&nbsp;
        <%= link_to icon('book'), has_read_user_book_path(book.library_book(current_user, book).first.id), { title: "Mark As Read", method: :patch } %> &nbsp;&nbsp;
        <%= link_to icon('trash'), user_book_path(book.library_book(current_user, book).first.id), title: "Remove From Library", controller: 'user_books', method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
    </div>
    <div class="bookNavIcon bookInfoIcon">
      <%= link_to icon('info-circle'), book, title: "More Info" %> &nbsp;&nbsp;
    </div>
  </div>
  <% end %>
  <div class="paginate">
    <%= will_paginate @books %>
  </div>
</div>

<% if params[:search].present? %>
  <%= link_to root_path do %>
    <div class="fakeButton"> Back to Your Library</div>
  <% end %>
<% else %>
  <%= link_to new_book_path do %>
    <div class="fakeButton"> Add a New Book</div>
  <% end %>
<% end %>
