<% if params[:search].present? %>
  <h3>Your Search Results</h3>
<% end %>
<% if !params[:search].present? %>
<div class="booksFilter">
  <% if !params[:unread].present? %>
    <%= link_to 'Show Unread Books',  books_path(unread: 'unread') %>
  <% else %>
    <%= link_to "Show All Books", books_path %>
  <% end %>&nbsp;&nbsp; | &nbsp;&nbsp;
  <% if !params[:newest_first].present? %>
    <%= link_to "Most Recent Additions", books_path(newest_first: 'newest_first') %>
  <% else %>
    <%= link_to "Title A-Z", root_path %>
  <% end %>
</div>
<div class="bookViewSwitcher">
  <%= icon('th') %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to icon('list'), list_books_path, title: "Switch to List View" %>
</div>
<% end %>
<div class="bookshelf">
  <div class="book bookFirst">
    <p>Find a book to add to your library.</p>

    <div class="form addSearchForm">
      <%= form_tag(search_books_path, method: "get", action: "search") do %>
      <%= text_field_tag :search, '', autofocus: true %>
      Search by:&nbsp;&nbsp;
      <%= select_tag 'type', options_for_select(['ISBN', 'Author-Title'], 'ISBN') %>
      <%= icon('question-circle', title: "ISBN search will yield the most specific results, whereas Author/Title search will return a larger range of results.") %>
        <br>
      <%= submit_tag "Search", name: nil %>
      <% end %>

    </div>
  </div>
  <% @books.each do |book| %>
  <div class="book">
    <% if book.library_book(current_user, book).first.has_read %>
    <div class="ribbon"><span>READ</span></div>
    <% end %>
    <div class="bookImage"><%= link_to image_tag(book.bookcover), book %></div>
    <div class="bookInfo">
      <ul>
        <li class="bookOverflow"><%= link_to book.title, book %></li>
        <li class="bookOverflow">by <%= book.authors %></li>
        <% unless book.format.blank? %>
        <li>(<%= book.format.format %>)</li>
        <% end %>
      </ul>

      <div class="bookNavIcon">
        <%= link_to icon('pencil'), new_note_user_book_path(book.library_book(current_user, book).first.id), title: "Add Note" %>
        <%= link_to icon('book'), has_read_user_book_path(book.library_book(current_user, book).first.id), { title: "Mark As Read", method: :patch } %>
        <%= link_to icon('trash'), user_book_path(book.library_book(current_user, book).first.id), title: "Remove From Library", controller: 'user_books', method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
    </div>
    <div class="bookNavIcon bookInfoIcon">
      <%= link_to icon('info-circle'), book, title: "More Info" %>
    </div>
  </div>
  <% end %>
  <div class="paginate">
    <%= paginate @books %>
  </div>
</div>

<% if params[:search].present? %>
  <%= link_to root_path do %>
    <div class="fakeButton"> Back to Your Library</div>
  <% end %>
<% end %>
