<p id="notice"><%= notice %></p>

<% if params[:search].present? %>
  <h3>Your Search Results</h3>
<% end %>
<div class="bookshelf">
  <% @books.each do |book| %>
  <div class="book">
    <!-- not passing the correct id if the book is in another's library -->
    <% if book.user_books.first.has_read %> 
    <div class="ribbon"><span>READ</span></div>
    <% end %>
    <div class="bookImage"><%= link_to image_tag(book.image_url), book %></div>
    <div class="bookInfo">
      <ul>
        <li><%= book.author %></li>
        <li><%= book.title %></li>
      </ul>
      <div class="bookNavIcon">
        <%= link_to icon('info-circle'), book, title: "More Info" %> &nbsp;&nbsp; <%= link_to icon('pencil'), edit_book_path(book), title: "Add Note" %> &nbsp;&nbsp;

        <%= link_to icon('book'), has_read_user_book_path(book.user_books.first.id), { title: "Mark As Read", method: :patch } %>
        </div>
    </div>
  </div>
  <% end %>
  <div class="paginate">
    <%= will_paginate @books %>
  </div>
</div>

<% if params[:search].present? %>
  <%= link_to root_path do %>
    <div class="fakeButton"> Back to Your Library</div>
  <% end %>
<% else %>
  <%= link_to new_book_path do %>
    <div class="fakeButton"> Add a New Book</div>
  <% end %>
<% end %>
