<h1>New Book</h1>

<%= form_tag(search_books_path, method: "get", action: "search") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search By ISBN, Title, or Author" %>
<%= submit_tag "Search", name: nil %>
<% end %>


<%= render 'form' %>
<div>
<%= link_to icon('arrow-left', 'Back'), books_path %>
</div>
