<div class="bookshelf">
  <% @books.each do |book| %>

  <div class="book">
    <div class="bookImage"><%= image_tag(book.image_link) %></div>
    <div class="bookInfo">
      <ul>
        <li><%= book.authors %></li>
        <li><%= book.title %></li>
        <li><%= book.published_date %></li>
      </ul>
      <div class="bookNavIcon">
        <% if book.id.is_a? Integer %>
          <%= link_to icon('plus'), add_book_book_path(book), method: :post, title: "Add This Book to Your Library" %>
        <% else %>
        <% @book = book %>
          <%= link_to icon('plus'), add_gbook_books_path(book: {isbn: book.isbn,
                                                         authors: book.authors,
                                                         title: book.title,
                                                         description: book.description,
                                                         published_date: book.published_date,
                                                         image_link: book.image_link,
                                                         edittable: true }),
                                                         method: :post,
                                                         title: "Add This Book to Your Library" %>
        <% end %>
      </div>
    </div>

  </div>
  <% end %>
  <div class="bookSearchAgain book">
    <div class="instruct">If the book you're looking for isn't listed, try the search again with more specific information, like the book's ISBN.</div>
    <div class="searchArea">
      <div class="form">
        <%= form_tag(search_books_path, method: "get", action: "search") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search By ISBN, Title, or Author" %>
        <%= submit_tag "Search", name: nil %>
        <% end %>
        or<br />
        <%= button_to "Add Book Manually", new_book_path, method: :get %>
      </div>
    </div>
  </div>
</div>
