<div class="bookshelf">
  <% @books.each do |book| %>

  <div class="book">
    <div class="bookImage"><%= image_tag(book.image_url) %></div>
    <div class="bookInfo">
      <ul>
        <li><%= book.author %></li>
        <li><%= book.title %></li>
        <li><%= book.pub_date %></li>
      </ul>
      <div class="bookNavIcon">
        <%= link_to icon('plus'), add_book_book_path(book), data: { confirm: 'Are you sure?'} %>
        <%= link_to icon('info-circle'), edit_book_path(book), title: "Add This Book" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
