<div class="bookShow">
  <% if @book.library_book(current_user, @book).first.has_read %>
  <div class="ribbon"><span>READ</span></div>
  <% end %>
  <div class="bookImage"><%= image_tag(@book.image_link) %></div>
  <div class="bookInfo">
    <ul>
      <li><%= @book.authors %></li>
      <li><%= @book.title %></li>
      <% unless @book.published_date.blank? %>
      <li><%= @book.published_date.strftime('%m/%d/%Y') %></li>
      <% end %>
      <% unless @book.isbn.blank? %>
      <li><%= @book.isbn %></li>
      <% end %>
      <% unless @book.genre.blank? %>
      <li><%= @book.genre.genre %></li>
      <% end %>
      <% unless @book.format.blank? %>
      <li><%= @book.format.format %></li>
      <% end %>
      <% if @book.series %>
      <li>Number in Series: <%= @book.drop_trailing_zero(@book.series_number) %></li>
      <% end %>
    </ul>

  </div>
  <div class="bookDescription">
    <%= @book.description %>
  </div>
  <!-- need to figure out how to call notes -->
  <div class="bookNotes">
    <% @book.library_book(current_user, @book).first.notes.each do |n| %>
      <%= n.info %>
      <% end %>
  </div>
  <div class="bookNavIcon">
    <div class="bottomNavLeft">
      <%= link_to icon('arrow-left'), books_path, title: "Back" %>
    </div>
    <div class="bottomNavCenter">
      <%= link_to icon('pencil'), new_note_user_book_path(@book.library_book(current_user, @book).first.id), title: "Add Note" %> &nbsp;&nbsp;
      <%= link_to icon('book'), has_read_user_book_path(@book.library_book(current_user, @book).first.id), { title: "Mark As Read", method: :patch } %>
      <% if current_user.admin? %>
         | <%= link_to 'Edit', edit_book_path(@book) %> |
        <%= link_to 'Delete', @book, method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
    <div class="bottomNavRight">
      <%= link_to icon('trash'), user_book_path(@book.library_book(current_user, @book).first.id), title: "Remove From Library", controller: 'user_books', method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
