<p id="notice"><%= notice %></p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Publication date:</strong>
  <%= @book.pub_date %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre.genre %>
</p>

<p>
  <strong>Format:</strong>
  <%= @book.format.format %>
</p>

<p>
  <strong>Image URL:</strong>
  <%= image_tag @book.image_url %>
</p>
<% if @book.series %>
<p>
  <strong>Series?:</strong>
  <%= @book.series %>
</p>

<p>
  <strong>Number in Series:</strong>
  <%= @book.series_num %>
</p>
<% end %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
