<div class="bookShow">
  <!-- not passing the correct id if the book is in another's library -->
  <% if @book.library_book(current_user, @book).first.has_read %>
  <div class="ribbon"><span>READ</span></div>
  <% end %>
  <div class="bookImage"><%= image_tag(@book.image_url) %></div>
  <div class="bookInfo">
    <ul>
      <li><%= @book.author %></li>
      <li><%= @book.title %></li>
      <li><%= @book.pub_date %></li>
      <li><%= @book.isbn %></li>
      <li><%= @book.genre.genre %></li>
      <li><%= @book.format.format %></li>
      <% if @book.series %>
      <li>Number in Series: <%= @book.series_num %></li>
      <% end %>
    </ul>

  </div>
  <div class="bookDescription">
    <%= @book.description %>
  </div>
  <!-- need to figure out how to call notes -->
  <div class="bookNotes">
    <% @book.library_book(current_user, @book).first.notes.each do |n| %>
      <%= n.info %>
      <% end %>
  </div>

  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>
</div>
