<div class="header">
  <% if current_user %>
  <%= link_to root_path, class: 'home__link' do %>
  <%= icon('home') %>
  <% end %>
    Welcome to your library, <%= current_user.name %> | <%= link_to '[ logout ]', '/logout' %>
  <% else %>
    <%= link_to '[ login ]', '/login' %> | <%= link_to '[ signup ]', '/signup' %>
  <% end %>
</div>
