<div class="header">
  <div class="nav">
  <% if current_user %>
  <%= link_to icon('home', 'Your Library'), root_path  %>
  <%= link_to icon('calendar', 'Release Calendar'), events_path %>
  <%= link_to icon('sign-out', 'Sign Out'), '/logout' %>
  <% else %>
    <%= link_to '[ login ]', '/login' %> | <%= link_to '[ signup ]', '/signup' %>
  <% end %>
  </div>
  <div class="searchForm">
    <%= render partial: 'books/search' %>
  </div>
</div>
